@import "../../../styles/variables";
@import "../../../styles/mixins";

.timeline-title {
    margin-top: 100px;
}
.timeline-subtitle {
    margin-bottom: 100px;
}

.vertical-timeline {
    width: 76% !important;
}

.vertical-timeline-element-icon {
    box-shadow: none !important;
}

.vertical-timeline-element-content {
    box-shadow: none !important;
    h4 {
        font-size: 28px !important;
        font-weight: 700;
    }
    p {
        font-size: 18px !important;
    }
}

.vertical-timeline-element-date {
    font-size: 14px !important;
}

.vertical-timeline::before {
    background: 0 !important;
    width: 0 !important;
    border: 2px dashed $darker-blue-color;
}